<template name="home">
   <div class="section">
      <div class="container">
         <!-- Page Content goes here -->
         <div class="row">
            <div class="col l12">
               <div class="row">
                  <div class="col s12 m6 l3">
                     <a href="#" class="list_users">
                        <div class="waves-effect waves-light card-panel medium teal center white-text">
                           <i class="fa fa-user fa-5x"></i>
                           <p>
                           <h4>68 Usuários</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light card-panel medium orange center white-text">
                           <i class="fa fa-users fa-5x"></i>
                           <p>
                           <h4>999 Clientes</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light card-panel medium green center white-text">
                           <i class="fa fa-truck fa-5x"></i>
                           <p>
                           <h4>78 Máquinas</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light waves-effect waves-light card-panel medium red center white-text">
                           <i class="fa fa-building-o fa-5x"></i>
                           <p>
                           <h4>999 Projetos </h4>
                           </p>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <ul id="slide-out" class="side-nav">
      <li>
         <div class="userView">
            <div class="background">
               <img src="alugalogo.png" alt="" class="responsive-img">
            </div>
            <a href="#!user"><img class="circle" src="https://wiki.teamfortress.com/w/images/e/e6/Engineerava.jpg"></a>
            <a href="#!name"><span class="black-text name">John Doe</span></a>
            <a href="#!email"><span class="black-text email">{{ UserEmail }}</span></a>
         </div>
      </li>
      <li><a href="#!" class="blue-text">Primeiro Link</a></li>
      <li><a href="#!" class="blue-text">Segundo Link</a></li>
      <li><a href="/logout" class="blue-text">Sair</a></li>
      <li>
         <div class="divider"></div>
      </li>
      <li><a class="subheader">Divisor</a></li>
   </ul>
   <div class="fixed-action-btn ">
      <a class="btn-floating btn-large orange waves-effect waves-light sidemenu" data-activates="slide-out">
      <i class="fa fa-bars"></i>
      </a>
   </div>

</template>
