<template name="home">
   <div class="section">
      <div class="container">

      <div class="row">

       <div class="col s12 m6 l4">
         <div class="card col s12 m12 l12 waves-effect waves-light teal center white-text">
           <a href="/manutencao" class="white-text">
           <div class="card-content">
             <i class="fa fa-clock-o fa-5x"></i>
             <h4>Manutenção</h4>
           </div>
         </a>
         </div>
       </div>
      {{#if compare AUTH.type "admin"}}
       <div class="col s12 m6 l4">
         <div class="card col s12 m12 l12 waves-effect waves-light green center white-text">
                <a href="/usuarios" class="white-text">
           <div class="card-content">
             <i class="fa fa-users fa-5x"></i>
             <h4>Usuários</h4>
           </div>
         </a>
         </div>
       </div>
      {{/if}}
      {{#if compare AUTH.type "admin"}}
       <div class="col s12 m6 l4">
         <div class="card col s12 m12 l12 waves-effect waves-light orange center white-text">
           <a href="/equipamentos" class="white-text">
           <div class="card-content">
             <i class="fa fa-truck fa-5x"></i>
             <h4>Equipamentos</h4>
           </div>
         </a>
         </div>
       </div>
      {{/if}}

     </div>

      </div>
   </div>

   {{> Sidebar }}

</template>
