<template name="home">
   <div class="section">
      <div class="container">
         <!-- Page Content goes here -->
         <div class="row">
                <div class="col s12 m6 l3">
                   <a href="#" class="list_users">
                      <div class="waves-effect waves-light card-panel medium teal center white-text">
                         <i class="fa fa-gear fa-5x"></i>
                         <p>
                         <h4>68 Manutenção</h4>
                         </p>
                      </div>
                   </a>
                </div>
                  <div class="col s12 m6 l3">
                     <a href="#" class="list_users">
                        <div class="waves-effect waves-light card-panel medium teal center white-text">
                           <i class="fa fa-user fa-5x"></i>
                           <p>
                           <h4>68 Usuários</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light card-panel medium orange center white-text">
                           <i class="fa fa-users fa-5x"></i>
                           <p>
                           <h4>999 Clientes</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light card-panel medium green center white-text">
                           <i class="fa fa-truck fa-5x"></i>
                           <p>
                           <h4>78 Máquinas</h4>
                           </p>
                        </div>
                     </a>
                  </div>
                  <div class="col s12 m6 l3">
                     <a href="#">
                        <div class="waves-effect waves-light waves-effect waves-light card-panel medium red center white-text">
                           <i class="fa fa-building-o fa-5x"></i>
                           <p>
                           <h4>999 Projetos </h4>
                           </p>
                        </div>
                     </a>
                  </div>
         </div>
      </div>
   </div>

   {{> Sidebar }}

</template>
