<template name="guest" >

    <!-- jQuery Library -->
    <script type="text/javascript" src="assets/guest/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="assets/guest/materialize.js"></script>
    <!-- CSS style Horizontal Nav (Layout 03)-->
    <link href="assets/guest/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- End Page Loading -->
    <div id="login-page" class="row">
      <div class="col s12 z-depth-4 card-panel">

        <form class="login_form" name="login_form" id="login_form">
          <div class="row">
            <div class="input-field col s12 center">
              <img src="alugalogo.png" alt="" class="responsive-img">
            </div>
          </div>

          <div class="row margin">
            <div class="input-field col s12">
              <input id="email" type="email" required>
              <label for="email" class="center-align">Emai</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <input id="password" type="password" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <button type="submit" href="#" class="btn waves-effect waves-light col s12 cyan AddPlaceButton"> Login</button>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6 right">
                <p class="margin right-align medium-small right"><a href="#"> Esqueci a senha </a></p>
            </div>
          </div>

        </form>
      </div>
    </div>

  <script>
  $(document).ready(function(){
  //  alert('shazam');
  });
  </script>
</template>
