<template name="guest" >
    <link href="assets/guest/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="assets/guest/style.css" type="text/css" rel="stylesheet" media="screen,projection">
      <!-- Custome CSS-->
      <link href="assets/guest/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
      <!-- CSS style Horizontal Nav (Layout 03)-->
      <link href="assets/guest/style-horizontal.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="assets/guest/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->



    <div id="login-page" class="row">
      <div class="col s12 z-depth-4 card-panel">
        <form class="login-form">
          <div class="row">
            <div class="input-field col s12 center">
              <img src="alugalogo.png" alt="" class="responsive-img">
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-social-person-outline prefix"></i>
              <input id="username" type="text">
              <label for="username" class="center-align">Username</label>
            </div>
          </div>
          <div class="row margin">
            <div class="input-field col s12">
              <i class="mdi-action-lock-outline prefix"></i>
              <input id="password" type="password">
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m12 l12  login-text">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <a href="#" class="btn waves-effect waves-light col s12 cyan AddPlaceButton">Login</a>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6 m6 l6">
              <p class="margin medium-small"><a href="#">Register Now!</a></p>
            </div>
            <div class="input-field col s6 m6 l6">
                <p class="margin right-align medium-small"><a href="#">Forgot password ?</a></p>
            </div>
          </div>

        </form>
      </div>
    </div>



    <!-- ================================================
      Scripts
      ================================================ -->

    <!-- jQuery Library -->
    <script type="text/javascript" src="assets/guest/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="assets/guest/materialize.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings
    <script type="text/javascript" src="assets/guest/plugins.js"></script>-->

  <script>
  $(document).ready(function(){
  //  alert('shazam');
  });
  </script>
</template>
