<template name="manutencao">
   <div class="section">
      <div class="container">
         <!-- Page Content goes here -->
         <div class="row">
                <div class="col s12 m6 l3">
                   <a href="#" class="list_users">
                      <div class="waves-effect waves-light card-panel medium teal center white-text">
                         <i class="fa fa-gear fa-5x"></i>
                         <p>
                         <h4>68 Manutenção</h4>
                         </p>
                      </div>
                   </a>
                </div>

         </div>
      </div>
   </div>

   {{> Sidebar }}

</template>
